@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*Nab Bar*/

@font-face {
    font-family: Lilita-One;
    src: url(./LilitaOne-Regular.ttf);
}

nav{
    background-color:#FFB13A;
    border-radius: 10px;
}

nav ul div{
    padding: 0;
    margin-left: 45.72px;
}


nav ul{
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li{
    flex: auto;
}

nav ul li a{
    padding: 20px;
    color: #BA311A;
    text-decoration: none;
    font-family: Lilita-One;
    font-size: 30px;
}

x{
    font-family: Lilita-One;
    color: #BA311A;
    font-size: 40px;
}

nav ul li a:hover{
    background-color: #E27C2F;
    border-radius: 25px;
}

/* image 2 */
.cubiertos{
    left: 2.08%;
    right: 91.81%;
    top: 22.48%;
    bottom: 23.26%;
}

.logo{/* image 1 */
    margin: 0% 0% 0% 20%;
    width: 50%;
    float: right;
}

/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #fee9c9;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #e71d36;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #BA311A;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}